Repository Oatsty/nutrition5k: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        args: ["--remove-all-unused-imports","--ignore-init-module-imports","--in-place","--ignore-pass-statements"]
        language: system
        exclude: |
          (?x)(
              \.eggs|
              \.git|
              \.hg|
              \.mypy_cache|
              \.tox|
              \.vscode|
              \.venv|
              ^OpenSeeD/|
              ^Xdecoder/
          )
        types: [file, python]
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black"]
        language: system
        types: [file, python]
      - id: black
        name: black
        entry: poetry run black
        language: python
        language_version: python3.10
        types: [file, python]

Update main.yml
  .github/workflows/main.yml
Due: none

build
  poetry.lock
  pyproject.toml
Due: none

build
  .github/workflows/main.yml
Due: none

build
  .github/workflows/main.yml
  OpenSeeD/requirements.txt
Due: none

build
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

update log swin
  .github/workflows/main.yml
  log/models/swin/mask/fpnswin_mask0.2_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask/fpnswin_mask0.8_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask/fpnswin_mask0_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask/fpnswin_mask1_1drop1_warmup_150ep_mltscl.txt
  log/models/test/test1.txt
Due: none

for cpu
  .github/workflows/main.yml
  OpenSeeD/openseed/body/encoder/build.py
Due: isort, black

for cpu/gpu
  .github/workflows/main.yml
Due: none

for cpu
  .github/workflows/main.yml
  requirements.txt
Due: none

for cpu
  .github/workflows/main.yml
  OpenSeeD/openseed/body/decoder/utils/dino_decoder.py
  log/models/test/test1.txt
Due: isort, black

easier test
  .gitignore
  config/models/test/test1.yaml
  config/models/test/test2.yaml
  config/models/test/test3.yaml
  log/models/test/test1.txt
  log/models/test/test2.txt
  log/models/test/test3.txt
  src/init_config.py
  src/seg.py
  src/seg_openseed.py
  src/train/base.py
  src/train/train_mask.py
  src/train/train_normal.py
  tests/config/test1.yaml
  tests/config/test3.yaml
Due: autoflake, isort, black

easier test
  tests/unit/main_test.py
Due: autoflake, isort, black

test gpu
  .github/workflows/main.yml
Due: none

only cpu
  .github/workflows/main.yml
Due: none

swin mask 0.5-1.0
  config/models/swin/mask/fpnswin_mask0.6_1drop1_warmup_150ep_mltscl.yaml
  config/models/swin/mask/fpnswin_mask0.7_1drop1_warmup_150ep_mltscl.yaml
  config/models/swin/mask/fpnswin_mask0.9_1drop1_warmup_150ep_mltscl.yaml
  log/models/swin/mask/fpnswin_mask0.6_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask/fpnswin_mask0.7_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask/fpnswin_mask0.9_1drop1_warmup_150ep_mltscl.txt
Due: none

train mask+lp loss
  config/models/swin/mask_lp/fpnswin_mask0.8_lp0.2_1drop1_warmup_150ep_mltscl.yaml
  config/models/swin/mask_lp/fpnswin_mask0.8_lp0.5_1drop1_warmup_150ep_mltscl.yaml
  config/models/swin/mask_lp/fpnswin_mask0.8_lp0.8_1drop1_warmup_150ep_mltscl.yaml
  config/temp_lp.yaml
  hoge.ipynb
  log/models/swin/mask_lp/fpnswin_mask0.8_lp0.2_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask_lp/fpnswin_mask0.8_lp0.5_1drop1_warmup_150ep_mltscl.txt
  log/models/swin/mask_lp/fpnswin_mask0.8_lp0.8_1drop1_warmup_150ep_mltscl.txt
  poetry.lock
  pyproject.toml
  src/custom_utils.py
  src/init_config.py
  src/train/registry.py
  src/train/train_mask_lp.py
  unused/seg.py
Due: autoflake, isort, black

extra test
  config/models/swin/mask_lp_modloss/fpnswin_mask0.8_lp0.8_1drop1_warmup_150ep_mltscl.yaml
  log/models/swin/mask_lp_modloss/.nfs0000000c28dde87900000d3f
  log/models/swin/mask_lp_modloss/fpnswin_mask0.8_lp0.8_1drop1_warmup_150ep_mltscl.txt
  src/custom_utils/__init__.py
  src/custom_utils/average_meter.py
  src/custom_utils/catalog.py
  src/custom_utils/loss.py
  src/custom_utils/random_color.py
  src/seg_openseed.py
  src/train/base.py
  src/train/train_mask_lp.py
  tests/config/test4.yaml
  tests/unit/main_test.py
Due: autoflake, isort, black

detectron fix
  OpenSeeD/openseed/architectures/openseed_model.py
  log/models/swin/mask_lp_modloss/.nfs0000000c28dde87900000d3f
Due: isort, black

fix pil.image.linear
  OpenSeeD/requirements.txt
  log/models/swin/mask_lp_modloss/.nfs0000000c28dde87900000d3f
Due: none
